* {
  box-sizing: border-box;
}

.btn-header {
  position: fixed;
  display: block;
}

.btn {
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  font-family: 'Saira Condensed', sans-serif;
}

.btn-break {
  width: 100vw;
}

.left {
 float: left;
}

.right {
  float: right;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: right;
  padding-top: 25px;
  padding-right: 10px;
  font-family: 'Saira Condensed', sans-serif;


}

.img {
  height: 100vh;
  width: 100%;

}

body, html {
    height: 100%;
}

.bgimg {
  background-image: url("../img/bgimg_index.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brokedevsbreak {
  height: 100px;
  width: 100%;
}

.brokedevs {
  width: 400px;
  margin: 50px;
  text-align: left;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.h1 {
  font-family: 'Saira Condensed', sans-serif;
}
